fastapi==0.115.0
uvicorn==0.32.0
pydantic==2.9.2
scikit-learn==1.5.2
numpy==2.0.2
pandas==2.2.3
confluent-kafka==2.6.0
psycopg2-binary==2.9.10
sqlalchemy==2.0.36
python-dateutil==2.9.0
requests==2.32.3
joblib==1.4.2
pystac-client==0.8.5
planetary-computer==1.0.0
rasterio==1.4.3
reportlab==4.2.5
openpyxl==3.1.5
APScheduler==3.10.4
